/* 去除通知栏 右上角 X */
.notify-render .hope-close-button{
	display: none;
}

/*去掉底部Alist*/
.footer span,.footer a:nth-of-type(1){
	color:Red;
	#display:none;
}
/*去掉底部管理*/
.footer span,.footer a:nth-of-type(2){
	color:Red;
	#display:none;
}
/*去掉底部Alist和管理文字*//*
type="text/css"> .footer { 
	#display: none !important; 
} */

        /* 
            樱花：https://www.dmoe.cc
            夏沫：https://cdn.seovx.com
            搏天：https://api.btstu.cn/doc/sjbz.php
            姬长信：https://github.com/insoxin/API
            小歪：https://api.ixiaowai.cn/
            保罗：https://api.paugram.com
            墨天逸：https://api.mtyqx.cn
            岁月小筑：https://img.xjh.me
            东方Project：https://img.paulzzh.com
        */
/*白天背景图*/

.hope-ui-light{

	/*https://raw.iqiq.io/3wking/AList/main/IMG/img_8.jpg*/
	background-image: url("https://raw.iqiq.io/3wking/AList/main/IMG/img_8.jpg") !important;
	background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position-x:center;
}
/*夜间背景图*/
.hope-ui-dark {
	/*https://raw.iqiq.io/3wking/AList/main/IMG/img_6.jpg*/
    background-image: url("http://3wking.github.io/AList/IMG/img_6.png") !important;
    background-repeat:no-repeat;background-size:cover;background-attachment:fixed;background-position-x:center;
}
/*主列表夜间模式透明，50%这数值是控制透明度大小的*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-iigjoxS-css{
background-color:rgb(0 0 0 / 50%) !important;
}
/*readme夜间模式透明，50%这数值是控制透明度大小的*/
.hope-c-PJLV.hope-c-PJLV-iiuDLME-css{
background-color:rgb(0 0 0 / 50%) !important;
}
/*主列表透明*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-igScBhH-css {
background-color: rgba(255, 255, 255, 0.5) !important;
}
/*readme透明*/
.hope-c-PJLV.hope-c-PJLV-ikSuVsl-css{
background-color: rgba(255, 255, 255, 0.5) !important;
}
/*顶部右上角切换按钮透明*/
.hope-c-ivMHWx-hZistB-cv.hope-icon-button{
background-color: rgba(255, 255, 255, 0.3) !important;
}
/*右下角侧边栏按钮透明*/
.hope-c-PJLV-ijgzmFG-css{
background-color: rgba(255, 255, 255, 0.5) !important;
}

/*白天模式代码块透明*/
.hope-ui-light pre{
    background-color: rgba(255, 255, 255, 0.1) !important;
}
/*夜间模式代码块透明*/
.hope-ui-dark pre {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

/*全局字体*/
*{font-family:LXGW WenKai}
*{font-weight:bold}
body {font-family: LXGW WenKai;}


/*渐变背景CSS*/
#canvas-basic {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -999;
}